/* Importando Fonte do Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Zerando as configurações iniciais da página */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', sans-serif;
}

/* Background da Página */
body {
    background-image: url(../CSS/img/fundo_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cadastro {
    display: flex;
    justify-content: space-between;
}

/* Container */
.conteiner {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top:60px;
}

/* card */
.card {
    background-color: #ffffff;
    width: 400px;
    padding: 40px;
    border-radius: 8%;
    box-shadow: 3px 3px 1px 0px #00000050;
}

/*Cadastro */
.cadastro {
    text-align: center;
    font-size: 18pt;
    margin-bottom: 25px;
    color: #09562F
}

/* Entradas */
.label-float input {
    width: 95%;
    margin-top:5px;
    padding: 10px 10px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    background-color: rgba(128, 128, 128, 0.25);
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    color: #013018;
    outline: 2px solid #09562F;
    
}

.label-float{
    position: relative;
    /*margin-top: 5%;*/
    margin-bottom: 5%;
}

.label-float label{
    color: #09562F;
    font-size: 18px;
    top: 0;
    left: 0;
    transition: all .3s ease-out;
}

#cpf_cnpj2 label {
    color: #09562F;
    font-size: 18px;
}

/* Select Cargo */
.label-float select{
    width: 130px;
    height: 40px;
    font-size: 12pt;
    margin-left: 10px;
    box-shadow: 2px 2px 1px 0px #00000050;
    font-weight: bold;
    outline: none;
    background-color: #09562F;
    color: #ffffff;
    padding: 5px;
    border-radius:5px;
    display: block;
    margin-left: 0px;
     margin-top:5px;

    
}

/* Botão ENTRAR */
button{
    text-align: center;
    color:#ffffff;
    background-color:#09562F;
    border-radius: 10px;
    border: none;
    padding: 10px 120px 10px 120px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 15pt;
    cursor: pointer;
    outline: none;
    transition: all .3s ease-out;
}

button:hover{
    background-color: #013018;
    color: #FFCC29;
}

.justify-center{
    display: flex;
    justify-content: center;
}

.logo_circular{
    position: fixed;
    left: 91%;
    top: 85%;
    cursor: pointer;
}

.file{
    text-align: center;
    margin: 5px 0px 5px 0px;
}

.file label {
    background-color: #09562F;
    color: #fff;
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.file label:hover {
    background-color: #033d20;
    color: #FFCC29;
    transition: 0.3s;
}

.card input[type='file'] {
    display: none;
}

#selects-cargo-cpf {
    display: flex;
    justify-content: space-between;
}


