/* Tìtulo e Ícone */
.titulo_icone{
    color: #09562F;
    background-color: #fafafa;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    width: 60%;
    padding: 10px;
    display: flex;
}

.titulo_icone h1{
    margin: 0 auto;
}


/* icone voltar */
#icone_voltar img{
    justify-content: left;
    height: 40px;
}

/* pesquisa */
#pesquisa_placa form{
    width: 60%;
    margin-top: 20px;
    text-align: center;
}


#pesquisa_placa label{
    font-size: 14pt;
}

#pesquisa_placa input[type="text"]{
    width: 40%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.9);;
    border-radius: 5px;
    font-size: 12pt;
    padding: 5px;
    color: #09562F;
    outline: none;
}

#pesquisa_placa input[type="submit"]{
    background-color: #03381d;
    color: #fafafa;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12pt;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#pesquisa_placa input[type="submit"]:hover{
    background-color: #033d20;
    color: #FFCC29;
    transition: 0.3s;
}

#consultar-ordens, #ordens-concluidas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

/* Pesquisa por ID */
#pesquisa_placa{
    width: 100%;
    display: flex;
    justify-content: center;
}

#ordens_andamento,#div_ordens_concluidas{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 10%;
}

.ordem_servico{
    display: flex;
    flex-direction: column;
    color: #03381d;
    padding: 10px;
    margin: 20px;
    width: 40%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.ordem_servico h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 16pt;
}

.ordem_servico td{
    text-align: end;
    font-size: 14pt;
}
.ordem_servico th{
    text-align: start;
    font-size: 14pt;
}

.paginacao_detalhes{
    display: flex;
    justify-content: center;
    width: 40%;

}

.detalhes_os{
    background-color: #03381d;
    color: #fafafa;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 20px;
}

.detalhes_os:hover{
    background-color: #033d20;
    color: #FFCC29;
    transition: 0.3s;
}

/* Paginação */
.paginacao a {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #03381d;
    color: #fafafa;
    border-radius: 5px;
    text-decoration: none;
}

/* Paginação */
.paginacao{
    margin-left: 100px;
}
.paginacao span {
    color: #09562F;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 5px;
    background-color: #ddd;
}

/* Paginação */
.paginacao a:hover {
    background-color: #117f48;
}