body {
    background-color: gray; /* Define o fundo cinza */
    color: green; /* Define a cor do texto como amarelo */
}

#conteudo {
    margin: 20px; /* Adiciona margem para separar o conteúdo do cabeçalho e do menu lateral */
}

/* Estilização básica para o cabeçalho */
#cabecalho {
    background-color: black; /* Cor de fundo do cabeçalho (pode ajustar conforme desejado) */
    color: white; /* Cor do texto no cabeçalho (pode ajustar conforme desejado) */
    padding: 10px; /* Espaçamento interno no cabeçalho */
    display: flex; /* Para alinhar os elementos do cabeçalho na horizontal */
    justify-content: space-between; /* Distribui os elementos horizontalmente */
}

#usuario-info {
    display: flex; /* Alinha os elementos do usuário na horizontal */
    align-items: center; /* Centraliza verticalmente os elementos do usuário */
}

/* Estilização para o menu lateral */
#menu-lateral {
    background-color: black; /* Cor de fundo do menu (pode ajustar conforme desejado) */
}

#menu-lateral ul {
    list-style-type: none; /* Remove marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
}

#menu-lateral ul li {
    margin: 0; /* Remove a margem padrão dos itens da lista */
}

#menu-lateral ul li a {
    display: block; /* Transforma os links em blocos para preencher o espaço disponível */
    padding: 10px 20px; /* Espaçamento interno nos links */
    color: white; /* Cor do texto dos links */
    text-decoration: none; /* Remove sublinhado dos links */
}

#menu-lateral ul li a:hover {
    background-color: gray; /* Cor de fundo quando o mouse passa por cima */
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background-color: black;
}
.paginacao {
    margin-top: 20px;
    text-align: center;
}

.paginacao a, .paginacao span {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
}

.paginacao span {
    background-color: #ccc;
    cursor: not-allowed;
}

.paginacao a:hover {
    background-color: #0056b3;
}


.botao-os {
    background-color: #09562F;
    color: #fff;
    box-shadow: 3px 3px 1px 0px #00000050;
    padding: 5px;
    width: 250px;
    height: 50px;
    font-size: 15pt;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
}

#card-botoes-os {
    margin-top: 200px;
    margin-left: 150px;
    position: sticky;
}

.botao-os:hover{
    color: #FFCC29;
    transition: 0.3s;
}

.container-os {
    display: flex;
    justify-content: space-between;
}

.card-ordem-prestados .card2-servico {
    display: flex;
    width: 400px;
}
.card-ordem-prestados label{
    width: 100%;

}

.container-criar-ordem {
    padding: 20px;
}

.card-ordem-serviços form .card2-servico {
    display: flex;
    width: 100%;
    justify-content: space-around;

}


.card-ordem-serviços form .card2-servico div {
    margin-right: 5px;
}

.card2-servico div,
.card-produtos1 div {
    margin-right: 10px;
}
.card-produtos1 {
    display: flex;
}


#pagamento_previo {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-top:0px ;
    cursor: pointer;
}
  



 
.card-produtos3 {
    display: flex;
}

input,select{
    padding-left: 5px;
}
textarea {
    padding:5px ;
}
#cancelar-ordem input,
#cancelar-ordem select{
    width: 350px;
}
#criar-ordem,
#cancelar-ordem {

    background-color: #fff;
    box-shadow: 3px 3px 1px 0px #00000050;
    color: #09562F;
    border-radius: 20px;
    margin-top: 100px;
    margin-right: 300px;
    padding: 20px;

    

    
}

.card-numero-os,
.card-estornar{
    width: 400x;

}

.estilizacao-h2 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-top: 10px;
}


#cancelar-ordem  {
    display: flex;
    width: 400px;


     
}

.card2-servico #data input {
    width: 200px;
    padding-left: 10px;
}

.card2-servico select,
#placa-veiculo input{
    margin-top: 10px;
    height: 40px;
    width: 200px;
}

#criar-ordem form input, 
.card-ordem-produtos input, 
.card-ordem-prestados input,
#cancelar-ordem input,
#cancelar-ordem select{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 40px;
    display: block;
    background-color: #ddd;
    border-radius: 5px;
    font-size: 13pt;
    color: #09562F;
    outline: none;
}





#criar-ordem form select,
.card-ordem-prestados select,
#cancelar-ordem select{
    display: block;
    height: 40px;  
    font-weight: bold;
    background-color: #ddd;
    border-radius: 5px;
    font-size: 11pt;
    color: #636363;
    outline: none;
    text-align: center;
    cursor: pointer;
}

#cancelar-ordem form .botao-ordem-cancelar{
    margin: 0 auto;
    background-color: #09562F;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15pt;
    font-weight: bold;
    text-transform: uppercase;
    height: 50px;
    margin-top: 10px; 
    width: 100%;
    margin-top: 20px;

}
#cancelar-ordem form .botao-ordem-cancelar:hover{
    background-color: #033d20;
    color: #FFCC29;
    transition: 0.3s;
}
.botao-ordens{
    margin: 0 auto;
    background-color: #09562F;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15pt;
    font-weight: bold;
    text-transform: uppercase;
    height: 50px;
    margin-top: 10px; 
    width: 80%;
    margin-bottom: 20px;
}
.botao-ordens:hover{
    background-color: #033d20;
    color: #FFCC29;
    transition: 0.3s;
}

.card-ordem-observacoes textarea {
    margin-top: 10px;
    background-color: #ddd;
    resize:none;
    height: 80%;
    width: 100%;
     display: flex;
    justify-content: center;    
}

.card-botao-ordem {

    display: flex;
    justify-content: center;
}
