* {
    margin: 0px;
    border: none;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.container_debitos {
    display: flex;
    margin-top: 200px;
    margin-left: 150px;
}

/* posicionando botões debitos */
#botoes-debitos {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

/* estilizando botões debitos */
#botoes-debitos button {
    background-color: #09562F;
    color: #fff;
    box-shadow: 3px 3px 1px 0px #00000050;
    cursor: pointer;
    padding: 5px;
    width: 250px;
    height: 50px;
    font-size: 15pt;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* estilizando botões debitos - II */
#botoes-debitos button:hover {
    background-color: #033d20;
    color: #FFCC29;
    transition: 0.3s;
}

/* Conteudo dentro do debito */
.conteudo_debitos {
    display: flex;
    text-align: center;
}

/* Estilizando "adicionar item" e os demais*/
#registrar-debito,
#cancelar-debito,
#baixar-debitos {
    display: flex;
    background-color: #fff;
    box-shadow: 3px 3px 1px 0px #00000050;
    color: #09562F;
    border-radius: 20px;
    padding: 20px;
}

/* Largura, Altura e posição Adicionar Item */
#registrar-debito{
    margin-left: 150px;
}

/* Largura, Altura e posição Remover Item */
#cancelar-debito {
    margin-left: 150px;
}


/* Largura, Altura e posição Remover Item */
#baixar-debitos {
    margin-left: 150px;
}

/* Formulário de Estoque */
.form_debito .section_one,
.section_two,
.section_three {
    display: flex;
    justify-content: center;
}


/* Estilização Geral dos Inputs */
.form_debito input {
    margin: 5px 5px 20px 5px;
    display: block;
    width: 155px;
    height: 40px;
    background-color: #ddd;
    border-radius: 5px;
    font-size: 12pt;
    padding: 5px;
    color: #09562F;
    outline: none;
}

/* Estilização Geral dos Inputs II*/
.section_one input{
    width: 650px;
}

/* Botão estoque */
.form_debito input[type="submit"] {
    background-color: #09562F;
    color: #fff;
    cursor: pointer;
    font-size: 15pt;
    font-weight: bold;
    text-transform: uppercase;
    height: 50px;
    width: 250px;
    margin: 0;
}

/* Botão estoque (Quando o mouse passar por cima*/
.form_debito input[type="submit"]:hover {
    background-color: #033d20;
    color: #FFCC29;
    transition: 0.3s;
}

.section_three input[type='file'] {
    display: none;
}

.section_three label {
    background-color: #09562F;
    color: #fff;
    cursor: pointer;
    font-size: 15pt;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-right: 10px;
}

.section_three label:hover {
    background-color: #033d20;
    color: #FFCC29;
    transition: 0.3s;
}

.section_three input[type='file'] {
    display: none;
}

.section_three {
    display: flex;
    justify-content: center;
}

/* REMOVER */
.remover, .pesquisa {
    display: flex;
    justify-content: center;
}