/* Centralização geral */
.container_detalhes_geral{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

/* Tìtulo e Ícone */
.titulo_icone{
    color: #09562F;
    background-color: #fafafa;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    width: 60%;
    padding: 10px;
    display: flex;
}

.titulo_icone h1{
    margin: 0 auto;
}


/* icone voltar */
#icone_voltar img{
    justify-content: left;
    height: 40px;
}

/* pesquisa por ID */
#pesquisa_id{
    width: 100%;
    display: flex;
    justify-content: center;
}

#pesquisa_id form{
    width: 60%;
    margin-top: 20px;
    text-align: center;
}


#pesquisa_id label{
    font-size: 14pt;
}

#pesquisa_id input[type="number"]{
    width: 40%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.9);;
    border-radius: 5px;
    font-size: 12pt;
    padding: 5px;
    color: #09562F;
    outline: none;
}

#pesquisa_id input[type="submit"]{
    background-color: #03381d;
    color: #fafafa;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12pt;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#pesquisa_id input[type="submit"]:hover{
    background-color: #033d20;
    color: #FFCC29;
    transition: 0.3s;
}


table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

/* Paginação */

#container_paginacao{
    width: 100%;
    text-align: center;
}

.paginacao a {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #03381d;
    color: #fafafa;
    border-radius: 5px;
    text-decoration: none;
}

/* Paginação */
.paginacao{
    margin-left: 100px;
}
.paginacao span {
    color: #09562F;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 5px;
    background-color: #ddd;
}

/* Paginação */
.paginacao a:hover {
    background-color: #117f48;
}