*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 30px; 
    color: #033d20;
}

/* Cabeçalho, logo, nome da empresa e etc */
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div_direita_img{
    display: flex;
    align-items: center;
}

.div_direita_img img{
    width: 150px;
}

.div_direita{
    margin-left: 20px;
}

/* Endereço */
.cabecalho_2{
    text-align: center;
}

/* Numerod da Venda */
.cabecalho_2 p{
    font-size: 14pt;
}


.line{
    margin: 10px 0px;
    border: 2px solid #09562F;
}


/* Cliente */
.cliente{
    margin: 20px 0px;
}
.cliente p{
    font-size: 14pt;
}

/* Tabela  - relação dos Produtos */
.relacao_produtos{
    margin: 10px 0px 10px 0px;
}

/* Títulos */
.relacao_produtos th{
    padding: 5px;
    margin: 0px;
    background-color: #09562F;
    color: white;
}

/* Dados */
.relacao_produtos td{
    background-color:#ddd;
    padding: 5px;
}

/* Ordenando tamanho das tuplas */
#grande{
    width: 700px;   
}
#pequeno{
    width: 100px;
}

.rodape_relacao_dos_produtos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Tabela total */
.total_geral{
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: end;
}

/* Títulos */
.total_geral th{
    padding: 5px;
    margin: 0px;
    background-color: #09562F;
    color: white;
}

/* Dados */
.total_geral td{
    background-color:#ddd;
    padding: 5px;
}


/* Tabela pagamentos */
.pagamentos{
    margin: 10px 0px 10px 0px;
}

/* Títulos */
.pagamentos th{
    padding: 5px;
    margin: 0px;
    background-color: #09562F;
    color: white;
}

/* Dados */
.pagamentos td{
    background-color:#ddd;
    padding: 5px;
}

/* Ordenando tamanho das tuplas */
#pg_grande{
    width: 700px;   
}
#pg_pequeno{
    width: 100px;
}

.rodape_pagamentos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


/* Tabela de Duplicatas */
.duplicatas{
    margin: 10px 0px 10px 0px;
}

/* Títulos */
.duplicatas th{
    padding: 5px;
    margin: 0px;
    background-color: #09562F;
    color: white;
}

/* Dados */
.duplicatas td{
    background-color:#ddd;
    padding: 5px;
}

#dp_grande{
   width: 200px;
}

/* Rodape */
.rodape{
    margin: 30px 0px 30px 0px;
}

footer{
    font-weight: bold;
}