
body {
    background-image: url(../CSS/img/fundo_2.jpg);

}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
li {
    outline: 2px solid #09562F;
    background-color: #ffffff7e;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px #ccc;
}
span {
    font-weight: bold;
}
.titulo-vendas { 
    display: flex;
    justify-content: center;
    color: #09562F;
    font-size: 18pt;
    padding: 10px;
    margin-top: 20px;
}
#voltar-icone {
    margin-right: 10px;

}
.comissao {
    color: green;
    font-weight: bold;
}
.total-vendas {
    outline: 2px solid #09562F;
    background-color: #ddd;
    font-size: 25px;
    height: 100px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.total-vendas img{
    height: 55px;
    margin-right: 10px;
    
}


.total-vendas span {
    font-weight: bold;
    color: green;
    padding: 5px;
}
