/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    font-size: 10pt;
}


/* Define o tamanho da página como A4 e orientação paisagem para garantir que o conteúdo se ajuste a uma única página */
#content {
    width: 210mm;
    height: 297mm;
    page-break-before: always;
    page-break-after: always;
    position: relative;
}

/* Estilos para o botão "Gerar PDF" */
#generate-pdf {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12pt;
}

#generate-pdf:hover {
    background-color: #0056b3;
}


/* Estilos para o cabeçalho */
.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.cabecalho h1 {
    font-size: 18pt;
    margin: 0;
}

.cabecalho p {
    font-size: 11pt;
    margin: 5px 0;
}

/* Estilos para o cabeçalho_2 */
.cabecalho_2 {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px 0;
    text-align: center;
}

.cabecalho_2 h2 {
    font-size: 12pt;
    margin: 0;
}

.cabecalho_2 p {
    font-size: 10pt;
}

.div_direita_img {
    display: flex;
    align-items: center;
}

.div_direita_img img {
    margin-right: 10px;
    width: 80px;
}

/* Estilos para o cliente */
.cliente {
    margin-top: 10px;
}

.cliente h3 {
    font-size: 14pt;
    margin: 0;
}

.cliente p {
    font-size: 10pt;
    margin: 5px 0;
}

/* Estilos para a relação dos produtos */
.relacao_dos_produtos {
    margin-top: 10px;
}

.relacao_dos_produtos h3 {
    font-size: 14pt;
    margin: 0;
}

.relacao_produtos {
    width: 100%;
    border-collapse: collapse;
}

.relacao_produtos th, .relacao_produtos td {
    border: 1px solid #000;
    padding: 5px;
}

.relacao_produtos th {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* Estilos para o total geral */
.total_geral {
    margin-top: 10px;
}

.total_geral table {
    width: 100%;
    border-collapse: collapse;
}

.total_geral th, .total_geral td {
    border: 1px solid #000;
    padding: 5px;
}

.total_geral th {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* Estilos para os pagamentos */
.pagamentos {
    margin-top: 10px;
}

.pagamentos h3 {
    font-size: 14pt;
    margin: 0;
}

.pagamentos table {
    width: 100%;
    border-collapse: collapse;
}

.pagamentos th, .pagamentos td {
    border: 1px solid #000;
    padding: 5px;
}

.pagamentos th {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* Estilos para as duplicatas */
.duplicatas {
    margin-top: 10px;
}

.duplicatas h3 {
    font-size: 14pt;
    margin: 0;
}

.duplicatas table {
    width: 100%;
    border-collapse: collapse;
}

.duplicatas th, .duplicatas td {
    border: 1px solid #000;
    padding: 5px;
}

.duplicatas th {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* Estilos para o rodapé */
.rodape {
    margin-top: 10px;
    text-align: center;
}

.rodape h3 {
    font-size: 13pt;
    margin: 5px 0;
}

.rodape p {
    font-size: 13pt;
    margin: 5px 0;
}

.rodape_relacao_dos_produtos, .rodape_pagamentos{
    display: flex;
    justify-content: space-between;
}