body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    color: #333;
    background-image: url(../CSS/img/fundo_2.jpg);
    height: 100%;
}

.titulo_icone{
    color: #09562F;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    display: flex;
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    display: flex;
}

.titulo_icone h1{
    margin: 0 auto;
}


/* icone voltar */
#icone_voltar img{
    justify-content: left;
    height: 40px;
}

h1 {
    color: #09562F;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 15pt;
    font-weight: 500;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #09562F;
    color: #fff;
}

p {
    margin: 5px 0;
}

form {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    padding: 8px;
    width: 40%;
    margin-right: 10px;
    font-size: 12pt;
    background-color: #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #09562F;
    border-radius: 5px;
    font-size: 12pt;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #03381d;
    color: #FFCC29;
}

hr {
    border: 1px solid #ddd;
    margin-top: 20px;
}

/* Paginação */
.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Paginação */
.pagination a {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #03381d;
    color: #fafafa;
    border-radius: 5px;
    text-decoration: none;
}

/* Paginação */
.pagination span {
    color: #09562F;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 5px;
    background-color: #ddd;
}

/* Paginação */
.pagination a:hover {
    background-color: #117f48;
}
