* {
    margin: 0px;
    border: none;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
.notificações{
    text-align: center;
    flex-direction: column;
}

.notificações form{
    display: inline;
    align-items: center;
    float: right;
}

.notificações h2{
    display: inline;
    float: left;
    margin: 0px 0px 0px 125px;
    align-items: center;
    text-transform: uppercase;
    color: #09562F;
    font-size: 22pt;
    font-weight: bold;
}

.container_inline{
    width: 100%;
    height: 80px;
    padding: 15px;
    background-color:rgba(255, 255, 255, 0.5) ;
    margin-bottom:20px;
}


.notificações ul{
    margin: 0 auto;
    width: 60%;
    font-size: 18pt;
    text-align: center;
    list-style: none;
}


.notificações li{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #09562F;
    transition: 1.5s;
}

.notificações li:hover{
    background-color: rgba(255, 255, 255, 0.7);
    margin: 30px;
    padding: 15px;
    font-size: 18pt;
}

#apagar_baixo{
    background-color: #09562F;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
    font-size: 14pt;
    font-weight: bold;
    text-transform: uppercase;
    height: 50px;
    width: 250px;
}

#apagar_baixo:hover{
    background-color: #03381d;
    color:#FFCC29;
    transition: 0.5s;
}

p{
    display: contents;
}

/* Paginação */
.paginacao {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.paginacao a {
    padding: 5px 10px;
    background-color: #03381d;
    color: #fafafa;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
}

.paginacao strong{
    color: #09562F;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    background-color:  #ddd;
}

.paginacao a:hover {
    background-color: #117f48;
}