#container-cadastro {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}


.botao {
    margin-bottom: 60px;
}
.botao a {
    text-decoration: none;
    color: #fff;
    background-color: #09562F;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 1px 0px #00000050;
    font-size: 15pt;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    
}

.botao a:hover{
    color: #FFCC29;
    transition: 0.3s;
}