* {
    margin: 0px;
    border: none;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
/* Estilização container dos buttom */
#botoes-estoque {
    display: flex;
    justify-content: left;
    flex-direction: column; 
}

/* estilizando botões estoque */
#botoes-estoque button {
    background-color: #09562F;
    color: #fff;
    box-shadow: 3px 3px 1px 0px #00000050;
    padding: 5px;
    width: 250px;
    height: 50px;
    font-size: 15pt;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* estilizando botões estoque - II */
#botoes-estoque button:hover {
    background-color: #033d20;
    color: #FFCC29;
    transition: 0.3s;
}

/*estilização geral */
.geral_vendas {
    display: flex;
    margin-top: 200px;
    margin-left: 150px;
}

.conteudo {
    display: flex;
    text-align: center;
}
/* EStilização do container */
#fazer-venda,
#cancelar-venda{
    display: flex;
    background-color: #fff;
    box-shadow: 3px 3px 1px 0px #00000050;
    color: #09562F;
    border-radius: 20px;
    padding: 20px;
    margin-top: -165px;
    margin-left: 150px;
}

#cancelar-venda{
    margin-top: -100px;
}

#fazer-venda h1,
#cancelar-venda h1{
    text-transform: uppercase;
    margin-bottom: 20px;
}



/* Estilização Geral dos Inputs */
.div_one input, .div_two input, .div_three input, .div_six input {
    margin: 10px 5px;
    padding: 10px;
    height: 40px;
    width: 100%;
    display: block;
    background-color: #ddd;
    border-radius: 5px;
    font-size: 13pt;
    padding: 5px;
    color: #09562F;
    outline: none;
}
/* Estilização do Inputs do CPF/CNPJ*/ 
.four input{
    height: 30px;
    margin: 0 10px;
    width: 300px;
    background-color: #ddd;
    border-radius: 5px;
    font-size: 13pt;
    padding: 5px 10px;
    color: #09562F;
    outline: none;
    margin: 0;
}
/* Estilização do Botão de Submit (envio) */ 
.form_vendas input[type="submit"]{
    margin: 0 auto;
    background-color: #09562F;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15pt;
    font-weight: bold;
    text-transform: uppercase;
    height: 50px;
    width: 250px;
    margin-top: 10px;
}

/* Botão estoque (Quando o mouse passar por cima*/
.form_vendas input[type="submit"]:hover {
    background-color: #033d20;
    color: #FFCC29;
    transition: 0.3s;
}
/* Estilização geral dos Section(6) */ 
.two, .three, .four, .five, .six {
    justify-content: center;
    text-align: center;
    display: flex;
}
/* Estilização geral nas abas CPF/CNPJ e Formas de pagamentos*/ 
.div_four, .div_five{
    display: flex;
    align-items: center;
    margin: 5px;
}
/* Estilização geral*/ 
.div_two, .div_three, .div_six{
    margin: 5px;
}
/* Estilização geral dos Select do CPF/CNPJ e Formas de pagamento*/ 
.div_four select, .div_five select {
    height: 30px;
    margin: 0 10px;
    font-weight: bold;
    background-color: #ddd;
    border-radius: 5px;
    font-size: 11pt;
    color: #636363;
    outline: none;
    text-align: center;
    cursor: pointer;
    
}

#CPF input::-webkit-outer-spin-button,
#CPF input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}